/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}


.Title {   
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: 'Satisfy', cursive;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

h2, h4 {
    color: #ff4646;
}

p {
  /*  color: white; */
    text-align: center;
    margin-bottom: 100px;
}
/* Apply a background color to the body */
body {
    background-image: url('images/background2.webp');
    font-family: Arial, sans-serif;
}

.ingredients-list {
    color: #333;
    margin-top: 0px;
    margin-bottom: 50px; /* Add the desired margin or indent */
    list-style-type: none;
}

/* Style the hike card container */
.hike-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    max-height: 30%;
    max-width: 30%;
}

/* Style the hike image */
.hike-card img {
    max-width: 50%;
}

/* Style the hike name */
.hike-card h2 {
    font-size: 24px;
    margin-top: 10px;
}

/* Style the hike description */
.hike-card p {
    color: #333;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Style the like and dislike buttons */
.action-buttons {
    display: flex;
    justify-content: space-between;
}

.like-button, .dislike-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button {
    background-color: #ff6b6b;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.like-button, .dislike-button img{
    width: 150px;
}

.like-button:hover, .dislike-button:hover {
    opacity: 80%;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button style */
.dropdown-button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px; /* Increased padding */
    border: none;
    cursor: pointer;
}

/* Dropdown menu style */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 55px; /* Adjust this value to position the menu as desired */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
}

/* Dropdown menu item style */
.dropdown-menu li {
    padding: 15px; /* Increased padding */
}


/* Dropdown menu item link style */
.dropdown-menu a {
    text-decoration: none;
    color: #333;
}


h1 {
    margin-left: 40px;
    width: 70%;
    margin-bottom: 10px;
}

